.navbar-brand > div {
  display: inline-block;
  text-indent: 0;
  margin-top: -14px;
  line-height: 16px;
}
.logo-small {
  font-size: 12px;
  color: #92D8F6;
  text-shadow: none;
}
.logo-big {
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #726F6F;
}
a {
  /*color: #333;*/
  /*color: #1D336D;*/
  color: #428BCA;
}
a:hover {
  text-decoration: underline;
}
h4, .h4 {
  font-size: 16px;
}
ol {
  -webkit-padding-start: 20px;
}
ol li {
  white-space: nowrap;
  list-style-position: inside;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  padding-top: 50px;
  background-color: #F3F3F3;

  /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #006699),
    color-stop(1, #014E75)
  );
  background-image: -o-linear-gradient(bottom, #006699 0%, #014E75 100%);
  background-image: -moz-linear-gradient(bottom, #006699 0%, #014E75 100%);
  background-image: -webkit-linear-gradient(bottom, #006699 0%, #014E75 100%);
  background-image: -ms-linear-gradient(bottom, #006699 0%, #014E75 100%);
  background-image: linear-gradient(to bottom, #006699 0%, #014E75 100%);*/
}
.navbar-default {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #4aaad2),
    color-stop(1, #2a94c1)
  );
  background-image: -o-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: -moz-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: -webkit-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: -ms-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: linear-gradient(to bottom, #4aaad2 0%, #2a94c1 100%);
}
/* Ikona menu dla smartfonów */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2a94c1;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #2a94c1;
  color: #fff;
  text-shadow: none;
}


.well {
  background-image: -webkit-linear-gradient(top,#FAFAFA 0,#FCFCFC 100%);
  background-image: linear-gradient(to bottom,#FAFAFA 0,#FCFCFC 100%);
  background-color: #FCFCFC;
  border-color: #E9E9E9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fffcfcfc', GradientType=0);
}
.label {
  padding: .1em .6em;
}
.navbar-brand {
  text-indent: 50px;
  background-image: url('../assets/logo_ee_portal.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
}
body > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-header > a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #333;
  text-shadow: none;
}
.dropdown-menu .divider {
  background-color: #158BBD;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #333;
  }
}
.panel-default>.panel-heading {
  background-image: none;
background-color: #FFF;
border: 0;
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.2, #F5F5F5),
    color-stop(1, #fff)
  );
  background-image: -o-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: linear-gradient(to bottom, #F5F5F5 20%, #fff 100%);
}
.lang-ico {
  background-repeat: no-repeat;
  background-position: left center;
}
.visible-xs.lang-ico {
  background-position: 15px center;
  text-indent: 25px;
}
.lang-ico.lang-en {
  background-image: url('../assets/en.png');
}
.content.container {
  padding-top: 20px;
}
.extra-information,
.less-significant-text {
  color: #777;
  font-style: italic;
}

.nowrap span {
  white-space: nowrap;
}

.history.content li {
  padding: 8px 0;
}
.history.content li li {
  padding: 4px 0;
}
.proposals .table > tbody > tr > td {
  vertical-align: middle;
}

.teacher .dl-horizontal dt,
.topic-details .dl-horizontal dt,
.defended .dl-horizontal dt {
  font-weight: normal;
}

.sylabus label {
  font-weight: normal;
}

.teacher .subjects-list li {
  margin-bottom: 5px;
}
.sylabus-details dd {
  margin-left: 20px;
  margin-bottom: 10px;
}
.sylabus-details dd ol {
  -webkit-padding-start: 0;
  margin-left: 0;
}

.togglable-list li {
  margin-bottom: 5px;
}
.togglable-list .togglable-details {
  display: none;
}

.togglable-list .show-togglable-details .togglable-details {
  display: block;
}

.extra-bottom-margin {
  margin-bottom: 20px;
}

.program-list .table > thead > tr > th {
  vertical-align: middle;
}
.program-list .subjects-list .not-attended,
.program-list .subjects-list tr.not-attended > td {
  /*background-color: #F4F7FB;*/
}
.plan-matrix.table > tbody > tr > td.text-left {
  text-align: left;
}
.plan-matrix.table > tbody > tr > td.text-right {
  text-align: right;
}

@media (max-width: 1000px) {
  /*.schedule-list*/ .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
  }
}

#checkAll {
  margin-right: 8px;
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  padding-top: 7px;
  background-color: #fff;
}
/* z isodu */
.plan-matrix.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}
.plan-matrix.table-bordered > thead > tr > th {
  border-bottom-width: 0;
}
.plan-matrix.table-bordered > tbody > tr > td.plan-item {
  border: 2px solid #000;
}
.overlapping-warning {
  background-color: #F5A9A9;
}

dl.dl-horizontal dd {
  margin-bottom: 10px;
}
dl.dl-horizontal:last-child {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  dl.dl-horizontal dd {
    margin-bottom: 0;
  }
}
