/* Default elements style */
a {
  color: #428BCA;
}
a:hover {
  text-decoration: underline;
}
h4, .h4 {
  font-size: 16px;
}
ol {
  -webkit-padding-start: 20px;
}
.files-list li {
  word-wrap: break-word;
}
body {
  padding-top: 50px;
  background-color: #F3F3F3;
}


/* Helper classes */
.label {
  padding: .1em .6em;
}
.table>thead>tr>th {
  vertical-align: middle;
}
.content.container {
  padding-top: 20px;
}
.extra-information,
.less-significant-text {
  color: #777;
  font-style: italic;
}
.nowrap span {
  white-space: nowrap;
}
.extra-bottom-margin {
  margin-bottom: 20px;
}
.overlapping-warning {
  background-color: #F5A9A9;
}
dl.dl-horizontal dd {
  margin-bottom: 10px;
}
dl.dl-horizontal:last-child {
  margin-bottom: 0px;
}
.alert-dismissable.well .close {
  top: -7px;
  right: -7px;
}
.search-info {
  margin-top: 10px;
}
.search-info .dl-horizontal dt {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.well {
  border-color: #E9E9E9;
  background-color: #FCFCFC;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FAFAFA),
    color-stop(1, #FCFCFC)
  );
  background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #FCFCFC 100%);
  background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #FCFCFC 100%);
  background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #FCFCFC 100%);
  background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #FCFCFC 100%);
  background-image: linear-gradient(to bottom, #FAFAFA 0%, #FCFCFC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fffcfcfc', GradientType=0);
}
.panel-default>.panel-heading {
  background-image: none;
  background-color: #FFF;
  border: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.2, #F5F5F5),
    color-stop(1, #fff)
  );
  background-image: -o-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #F5F5F5 20%, #fff 100%);
  background-image: linear-gradient(to bottom, #F5F5F5 20%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#ffffffff', GradientType=0);
}


/* From original ISOD */
.plan-matrix.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}
.plan-matrix.table-bordered > thead > tr > th {
  border-bottom-width: 0;
}
.plan-matrix.table-bordered > tbody > tr > td.plan-item {
  border: 2px solid #000;
}
.plan-matrix.table > tbody > tr > td.text-left {
  text-align: left;
}
.plan-matrix.table > tbody > tr > td.text-right {
  text-align: right;
}


/* Navigation logo */
.navbar-brand > div {
  display: inline-block;
  text-indent: 0;
  margin-top: -14px;
  line-height: 16px;
}
.logo-small {
  font-size: 12px;
  color: #92D8F6;
  text-shadow: none;
}
.logo-big {
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #726F6F;
}


/* Navigation */
.navbar-default {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #4aaad2),
    color-stop(1, #2a94c1)
  );
  background-image: -o-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: -moz-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: -webkit-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: -ms-linear-gradient(bottom, #4aaad2 0%, #2a94c1 100%);
  background-image: linear-gradient(to bottom, #4aaad2 0%, #2a94c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4aaad2', endColorstr='#ff2a94c1', GradientType=0);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2a94c1;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #2a94c1;
  color: #fff;
  text-shadow: none;
}
.navbar-brand {
  text-indent: 50px;
  background-image: url('../assets/logo_ee_portal.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
}
body > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-header > a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #d6d6d6;
}
.dropdown-menu .divider {
  background-color: #158BBD;
}

.lang-ico {
  background-repeat: no-repeat;
  background-position: left center;
}
.visible-xs.lang-ico {
  background-position: 15px center;
  text-indent: 25px;
}
.lang-ico.lang-en {
  background-image: url('../assets/en.png');
}


/* Pages special */
.history.content li {
  padding: 8px 0;
}
.history.content li li {
  padding: 4px 0;
}
.proposals .table > tbody > tr > td {
  vertical-align: middle;
}
.teacher .dl-horizontal dt,
.topic-details .dl-horizontal dt,
.defended .dl-horizontal dt {
  font-weight: normal;
}
.sylabus label {
  font-weight: normal;
}
.teacher .subjects-list li {
  margin-bottom: 5px;
}
.sylabus-details dd {
  margin-left: 20px;
  margin-bottom: 10px;
}
.sylabus-details dd ol {
  -webkit-padding-start: 0;
  margin-left: 0;
}
.program-list .table > thead > tr > th {
  vertical-align: middle;
}
#checkAll {
  margin-right: 8px;
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  padding-top: 7px;
  background-color: #fff;
}


/* Toggalable styles */
.togglable-list li {
  margin-bottom: 5px;
}
.togglable-list .togglable-details {
  display: none;
}

.togglable-list .show-togglable-details .togglable-details {
  display: block;
}


/* Media queries */
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #d6d6d6;
  }

  .table-responsive>.table>thead>tr>th,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tfoot>tr>td {
    white-space: normal;
  }
}

@media (min-width: 768px) {
  .search-info .dl-horizontal dt {
    width: 260px;
  }
  .search-info .dl-horizontal dd {
    margin-left: 280px;
  }
  dl.dl-horizontal dd {
    margin-bottom: 0;
  }
}

@media (max-width: 1000px) {
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;
  }
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
  }
}
